.App {
  text-align: center;
  color: var(--bg-color);
  overflow-x: hidden;
  background-color: var(--bg-color);
}

.breadcrumb {
  padding: 0rem 1rem;
}

.breadcrumb p, .breadcrumb a, .breadcrumb li{
  color: var(--text-color)!important;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
}

.breadcrumb p {
  font-weight: 500;
  color: var(--main-title-color)!important;
}

.breadcrumb li{
  font-weight: 300;
}

:root {
  --bg-color: rgb(242, 252, 255);
  --light-title: #d9f0ff; 
  --dark-title: #10507a;
  --main-title-color: #2471a3;
  --sub-title-color: #529aca ;
  --text-color: #80c3f0;
}