#film_detail {
    padding: 0rem 5rem;
    height: 100vh;
}

#film_detail .film_img {
    margin-top: 5rem;
}

.film_img h2 {
    color: var(--main-title-color);
    margin-bottom: 0;
}

.film_img .subtitle {
    color: var(--text-color);
    margin: 0;
}

.film_detail p {
    color: var(--sub-title-color);
}

.film_img img {
    border-radius: 1rem;
}