#film_detail {
    padding-top: 5rem;
}

#film {
    padding: 3rem 4rem;   
    margin: 1rem; 
    border-radius: 10px;
    background-color: var(--light-title);
}

#film img {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.71);
}

.film_img h2 {
    color: var(--dark-title);
    margin-bottom: 0;
}

.film_img .subtitle {
    color: var(--sub-title-color);
    margin: 0;
}

.film_overview p {
    color: var(--text-color);
}

.film_img img {
    border-radius: 1rem;
}