#legal_notice {
    height: 100vh;
    background-color: var(--bg-color);
    padding-top: 5rem;

}

#legal_notice h1 {
    color: var(--main-title-color);
    text-transform: uppercase;
}

#legal_notice p {
    color: var(--text-color);
}

.text_container {
    padding: 0 1rem;
    justify-content: center;
}