.App {
	text-align: center;
	color: white;
	overflow-x: hidden;
	background-color: var(--black-bg);
}

:root {
	--black-bg: black;
	--main-title-color: #80c3f0;
	--sub-title-color: #63abdb;
	--text-color: #2471a3;
}
